.env
*sqlite3
*.pyc
*.egg-info/
*__pycache__/
.DS_Store
.vscode/
.egg-info/
node_modules/
src/create5/public/
src/create5/static/create5/
venv/
.coverage
.envrc
.env
pip-selfcheck.json
pyvenv.cfg
yarn-error.log
